.footer {
  background: var(--primary-color);
  text-align: center;
}
.footer_links {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}
.footer_link {
  color: var(--white);
  text-transform: capitalize;
  font-size: 1rem;
  margin-right: 1rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
}
.footer_link:hover {
  color: var(--grayish);
}

.copyright {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: var(--white);
}
.copyright span {
  margin-left: 0.5rem;
}
