.work_card {
  transition: var(--transition);
  background: var(--grayish);
  box-shadow: var(--light-shadow);
  margin-bottom: 2rem;
}

.work_card:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.001);
}

.work_img_container {
  position: relative;
}

.work_img {
  height: 15rem;
  object-fit: cover;
  border-bottom: 5px solid var(--secondary-color);
}

.work_date {
  position: absolute;
  right: 0;
  bottom: 0;
  background: var(--secondary-color);
  color: var(--white);
  padding: 0.25rem 0.5rem;
  margin-bottom: 0;
}

.work_info {
  padding: 1.25rem 1.5rem;
}

.work_title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work_title p,
.work_title h4 {
  margin-bottom: 0.75rem;
  line-height: 1.25;
}

.work_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tags {
  display: flex;
  gap: 5px;
  justify-content: space-around;
}

.tags p {
  font-size: 14px;
  display: inline;
  padding: 6px;
  border-radius: 15px;
  background: var(--white);
  color: var(--secondary-color);
}

.work_links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work_footer a {
  color: var(--primary-color);
}

.work_footer a:hover {
  color: var(--secondary-color);
}

.work_footer p span {
  margin-right: 0.25rem;
}

@media screen and (min-width: 768px) {
  .featured_center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media screen and (min-width: 1170px) {
  .featured_center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
