.work_card {
  transition: var(--transition);
  background: var(--clr-grey-10);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
.work_card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
.work_img_container {
  position: relative;
}
.work_img {
  height: 15rem;
  object-fit: cover;
}
.work_date {
  position: absolute;
  right: 0;
  bottom: 0;
  background: var(--clr-primary-8);
  color: var(--clr-primary-1);
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0;
}
.work_info {
  padding: 1.25rem 1.5rem;
}
/* additional css for different layout*/
.work_title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work_title p,
.work_title h4 {
  margin-bottom: 0.75rem;
  line-height: 1.25;
}
.work_title p {
  color: var(--clr-grey-7);
}
/* end of additional css for different layout*/
.work_footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.work_footer p {
  line-height: 0;
  margin-bottom: 0;
  text-transform: capitalize;
  color: var(--clr-primary-5);
}
.work_footer p span {
  margin-right: 0.25rem;
}
.work_btn {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .featured_center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media screen and (min-width: 1170px) {
  .featured_center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
